 
        body {
            font-family: Arial, Helvetica, sans-serif;
            background-color: #f4f6f8;
            margin: 0;
            padding: 0;
            line-height: 1.6;
        }
        a{
            text-decoration:none;
            color: black;
        }


        section{
            text-align: center;
            h2{
                border: none;
            }
        }

        header {
            background: #1e3a8a;
            color: #fff;
            padding: 25px;
            text-align: center;
        }

        header h1 {
            margin: 0;
            font-size: 32px;
        }

        header p {
            margin-top: 8px;
            font-size: 16px;
        }

        .container {
            width: 90%;
            max-width: 1100px;
            margin: 30px auto;
            background: #fff;
            padding: 30px;
            border-radius: 6px;
        }

        h2 {
            background: #e5e7eb;
            padding: 10px;
            border-left: 6px solid #1e3a8a;
            font-size: 20px;
        }

        ul {
            margin: 15px 0 30px 20px;
        }

        ul li {
            margin-bottom: 6px;
        }

        .back-home {
            display: inline-block;
            margin-bottom: 20px;
            text-decoration: none;
            color: #1e3a8a;
            font-weight: bold;
        }

        footer {
            background: #111827;
            color: #fff;
            text-align: center;
            padding: 15px;
            font-size: 14px;
        }
    



